p {
  margin: 0;
  font-weight: 500;
}

.list {
  margin: 30px;
  padding: 0;
}

.item {
  padding: 10px 10px 10px 5px;
  width: fit-content;
  font-size: 18px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.number {
  font-weight: normal;
}
